In [72]:
# cleaning texts 
import pandas as pd 
import re 
import nltk 
from nltk.corpus import stopwords 
from nltk.stem.porter import PorterStemmer 
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split 
from sklearn.naive_bayes import GaussianNB 
from sklearn.metrics import f1_score

In [73]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')

In [74]:
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [75]:
test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [76]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/jackyho/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [77]:
def clean_text(data):
    corpus = [] 

    for i in range(0, len(data)): 
        text = re.sub('[^a-zA-Z]', '', data[i]) 
        text = text.lower() 
        text = text.split() 
        ps = PorterStemmer() 
        text = ''.join(text) 
        corpus.append(text) 
        
    return corpus

In [78]:
train['text'] = clean_text(train['text'])

In [79]:
test['text'] = clean_text(test['text'])

In [80]:
vectorizer = TfidfVectorizer()

In [81]:
X = vectorizer.fit_transform(train['text']).toarray()
y = train['target']

In [82]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [83]:
classifier = GaussianNB()
classifier.fit(X_train, y_train) 
  
y_pred = classifier.predict(X_test) 
  
f1_score(y_test, y_pred)

0.592841163310962

In [84]:
classifier = GaussianNB()
classifier.fit(X, y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [85]:
X_sub = vectorizer.transform(test['text']).toarray()

In [86]:
y_sub_pred = classifier.predict(X_sub)

In [87]:
test['target'] = y_sub_pred

In [90]:
test[['id', 'target']].to_csv('submission.csv', index=False)